/log
/temp
/bin/platform
/bin/modules
!/bin/custom
/roles
/data

bin/**/gensrc
bin/**/eclipsebin
bin/**/classes

bin/custom/**/classes
bin/custom/**/gensrc/**
bin/custom/**/eclipsebin/**
bin/custom/**/.externalToolBuilders/**
/data/hsqldb
${HYBRIS_DATA_DIR}/hsqldb
bin/custom/**/.settings
.*\~
/compass/**
**/platformhome.properties
**/resources/generated-.*web-spring.xml
/hybris-*\.zip
/hybris/temp
/hybris/data/**
/hybris/log/**
/hybris/config/**
/hybris/hybris/data/**
/hybris/bin/hybris.version
/hybris/bin/ext*/**
*/hybris/bin/modules/*
*/hybris/data/*
*/hybris/log/*
*/hybris/temp/*
*/hybris/bin/platform/*
/hybris/config/.externalToolBuilders
/dist
**/.idea
/velocity.log
**/extensioninfo.xsd
**/hmc.xsd
**/items.xsd
**/beans.xsd
*/.settings/*
*.iml
**/*testclasses.xml
*.eml
**/*.iml
*.class
*-testclasses.xml
*-webtestclasses.xml
.metadata/*
.sass-cache
.classpath

**/rebel.xml

test-reports/*
.sublime-
.DS_Store
velocity.log

.lastupdate
*platformhome.properties

build/config/developer.properties
*/dependencies/*
*/.gradle/*
/config/hybris4intellij.properties

bin/custom/training/trainingstorefront/web/addonsrc/questions
bin/custom/training/trainingstorefront/web/webroot/WEB-INF/views/addons/questions/responsive